@model LoginModel

@* <h1>Login</h1>
 *@@* <form method="post">
    <input type="text" asp-for="Username" />
    <input type="password" asp-for="Password" />
    <input type="checkbox" asp-for="RememberMe" /> จำรหัสผ่าน
    <input type="submit"  />
</form>
 *@

<body class="">
    <div class="container-fluid">
        <div class="row vertical-center">
            <form method="post" class="col-sm-6">
                <h1>Sign In</h1>
                <p>
                    <label class="sr-only">Username</label>
                    <input class="form-control" type="text" placeholder="Username" required autofocus asp-for="Username">
                </p>
                <p>
                    <label class="sr-only">Password</label>
                    <input class="form-control" type="password" placeholder="Password" required asp-for="Password">
                </p>
                <p class="checkbox">
                    <label><input type="checkbox" asp-for="RememberMe">Remember Me</label>
                </p>
                <button class="btn btn-primary btn-block" type="sumbit">Sign In</button>
            </form>
        </div>
    </div>
</body>