@{
    Layout = "~/Views/Shared/_BofLayout.cshtml";

    ViewData["Title"] = "BackOfficeSystem";
}

<br />
<div class="row mt-4 mb-4">
    <div class="col s12">
        <center>
            <h3 class="bold">Welcome On Board <i class="fa-regular fa-face-smile-beam"></i></h3>
            <h4> @User.Identity.Name</h4>
            
            @* <h4 class="mt-4">@rs["BackOfficeSystem"]</h4> *@
           
        </center>
    </div>
</div
